
@font-face {
    font-family: "Kelly Slab";
    src: url(../fonts/kelly-slab/KellySlab-Regular.otf);
    }
@font-face {
    font-family: "Jura";
    src: url(../fonts/jura1/Jura-Regular.otf);
}
@font-face {
    font-family: "Inder";
    src: url(../fonts/inder/Inder-Regular.otf);
}       
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #50859F;
    position: relative;
}

*{
    font-family: Jura;
    color: white;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 10;
    display: none;
}

.nav-bar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background-image: url('../images/home/backround.png'); /* Укажите путь к изображению */
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 130vh;
}

#about {
    z-index: 2;
    border-radius: 200px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #96172C 51.6%, #FFFFFF 95.89%);
    height: 2500px;
    position: relative;
    margin-top: -20vh;
    flex-direction: column;
    overflow: hidden;
}

#about > div{
    width: 100%;
}

h1, h2, h3, th {
    font-family: Kelly Slab;
}

#about h1{
font-size: 35px;
font-weight: 400;
border-bottom: 5px solid white;
margin-top: 90px;
margin-bottom: 63px;
}

#offers h1{
    text-align: right;
    width: 734px;
}

#contact {
    z-index: 1;
    background-image: url('../images/contacts/backround.png'); /* Укажите путь к изображению */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 100px;
    margin-top: -7vh;
    height: 110vh;
}

#booking {
    z-index: 2;
    margin: 10vh, 20vh, 0, 10vh; 
    border-radius: 50px;
    background-image: linear-gradient(180.14deg, #DEDDF2 25.64%, #F9F4FD 99.88%);
    margin: 76px 180px 0px 180px;
    height: 631px;
    align-items: stretch;
    text-align: center;
    position: relative;
}

#booking nav {
    background-color: #96172C;
    height: 117px;
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

footer{
    height: 45vh;
}

table{
    margin-top: 144px;
    margin-left: 208px;
}

th{
    text-transform: uppercase;
    text-align: left;
    font-size: 25px;
    padding-right: 160px;
    padding-bottom: 34px;
    font-weight: 400;
}
td {
    padding-bottom: 10px;
    font-size: 20px;
}

#rules{
    margin-top: 140px;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

#polises, div.icons {
    margin-top: -40px;
}

footer #logo{
    position: absolute;
    left: 1650px;
}

#polises{
    text-align: right;
    margin-right: 212px;
}

div.icons{
    margin-left: 208px;
}
div.icons img{
    padding-right: 24px;
}

#question{
    background-image: url("../images/about/question.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 700px;
    justify-content: flex-start;
}

.blur{
    background: #86868666;
    backdrop-filter: blur(40px);
}

.card > div.blur, .central-card > div.blur {
   border-radius: 0px 0px 20px 20px; 
}

#question div.screen {
    height: 100%;
    width: 50%;
}

#question h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-align: left;
    text-transform: uppercase;
    line-height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
}

ul { 
    list-style-type: none; 
    padding: 0;
    margin-bottom: 100px; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0px 177px 100px 177px;
 } 
li.card, li.central-card { 
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    height: 669px;
    width: 455px;
    overflow: hidden;
}

.central-card > div:first-child , .card > div:first-child{
    height: 344px;
}

li.central-card{
    height: 785px;
}

#card1{
    background-image: url("../images/cards/ten_island.png");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
}

#card2{
    background-image: url("../images/cards/stokgolm_metro.png");
}

#card3{
    background-image: url("../images/cards/carlson.png");
}

.central-card > #cost {
    margin-bottom: 195px;
}

#cost{
    margin-left: 25px;
    width: 128px;
    height: 83px;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-left: 22px;
    border-width: 4px, 4px, 4px, 4px;
    border-style: solid;
    border-color: #AC7677;
    font-family: Kelly Slab;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 { 
    font-size: 30px;
    font-weight: 400;
    line-height: 36.36px;
    text-align: left;
    text-decoration-line: underline;
    margin-left: 10px;
 } 
p { 
font-size: 20px;
font-weight: 400;
line-height: 23.66px;
text-align: left;
margin-left: 10px;
 }

 #adventages > ul {
    margin: 0px 187px 0px 187px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 146px;
 }

 li.adventage {
    width: 334px;
 }

 li.adventage>div, li.adventage h3, li.adventage p{
    text-align: center;
 }
 
 li.adventage h3{
    color:#96172C
 }
 li.adventage p{
    color: black
 }

 #adventages > h1 {
    display: flex;
    text-align: left;
    margin: 90px 0px 100px auto;
    width: 734px;
 }
 nav{
    display: flex;
    flex-direction: row;
    padding-left: 41px;
    box-sizing: border-box;
 }

 nav div {
    margin: 35px 53px 32px 0px;
    width: 50px;
    height: 50px;
 }

 #hotel{
    background-image: url("../images/booking/icons/hotel_default.svg");
    background-repeat: no-repeat;
 }

 #plane{
    background-image: url("../images/booking/icons/plane_default.svg");
    background-repeat: no-repeat;
 }

 #bus{
    background-image: url("../images/booking/icons/bus_default.svg");
    background-repeat: no-repeat;
 }

 #train{
    background-image: url("../images/booking/icons/train_default.svg");
    background-repeat: no-repeat;
 }

 #car{
    background-image: url("../images/booking/icons/car_default.svg");
    background-repeat: no-repeat;
 }

 #hotel:hover{
    background-image: url("../images/booking/icons/hotel_active.svg");
    background-repeat: no-repeat;
 }

 #plane:hover{
    background-image: url("../images/booking/icons/plane_active.svg");
    background-repeat: no-repeat;
 }

 #bus:hover{
    background-image: url("../images/booking/icons/bus_active.svg");
    background-repeat: no-repeat;
 }

 #train:hover{
    background-image: url("../images/booking/icons/train_active.svg");
    background-repeat: no-repeat;
 }

 #car:hover{
    background-image: url("../images/booking/icons/car_active.svg");
    background-repeat: no-repeat;
 }

 form label, form input, form textarea, form button, form select, form option{
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-left: 16px;
    box-sizing: border-box;
 }

 form label{
    padding-left: 0px;
    line-height: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Jura;
    font-weight: 700;
 }

 form div p {
    margin: 0px;
    margin-right: 58px;
    display: flex;
    flex-direction: column;
 }
 
 form div p:nth-child(3) {
    margin-right: 99px;
 }

 form div p:nth-child(4) {
    margin-right: 110px;
 }

 form div p:last-child {
    margin: auto;
    margin-left: 0px;
    margin-bottom: 0px;
 }

 input::placeholder {
    color: black;
}

 input[type=submit]{
    width: 232px;
    height: 53px;
    border-radius: 20px;
    font-family: Jura;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    color: #96172C;
    border: 1px solid #96172C;
    padding: 0;
 }

 input[type=submit]:hover{
    background-color: #AC7677;
    color:white;
 }

 #booking > form > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 67px;
 }

 #booking h2 {
    color: #96172C;
    text-align: left;
    margin-left: 35px;
    font-size: 35px;
    font-weight: 400;
    margin-top: 68px;
 }

 input{
    background-color: #F5F5F5;
    border: 0;
    padding: 0;
 }

 input[type = text]{
    width: 358px;
    height: 60px;
    
 }

 input[type = date]{
    appearance: none;
    width: 182px;
    height: 60px;
    background-image: url('../images/icons/input/calendar.svg');
    background-repeat: no-repeat;
    background-position: 90%;
 }

 /* Убираем рамку вокруг иконки в некоторых браузерах */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Убираем стрелки вверх-вниз в некоторых браузерах */
input[type="date"]::-webkit-outer-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
    margin: 0;
}

 select{
    appearance: none;
    width: 182px;
    height: 60px;
    background-color: #F5F5F5;
    background-image: url('../images/icons/select/arrow.svg');
    background-repeat: no-repeat;
    background-position: 90%;
 }

form div {
    padding-left: 41px;
}


