
@font-face {
    font-family: "Kelly Slab";
    src: url(../fonts/kelly-slab/KellySlab-Regular.otf);
    }
@font-face {
    font-family: "Jura";
    src: url(../fonts/jura1/Jura-Regular.otf);
}    
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #50859F;
    position: relative;
}

*{
    font-family: Jura;
    color: white;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 10;
    display: none;
}

.nav-bar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

#home {
    background-image: url('../images/home/backround.png'); /* Укажите путь к изображению */
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 130vh;
}

#about {
    z-index: 2;
    border-radius: 200px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #96172C 51.6%, #FFFFFF 95.89%);
    height: 2500px;
    position: relative;
    margin-top: -20vh;
    flex-direction: column;
}

h1, h2, h3, th {
    font-family: Kelly Slab;
}

#about h1{
font-size: 35px;
font-weight: 400;
width: 100%;
text-decoration: underline;
}

#contact {
    z-index: 1;
    background-image: url('../images/contacts/backround.png'); /* Укажите путь к изображению */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 100px;
    margin-top: -7vh;
    height: 110vh;
}

#booking {
    z-index: 2;
    margin: 10vh, 20vh, 0, 10vh; 
    border-radius: 50px;
    background-image: linear-gradient(180.14deg, #DEDDF2 25.64%, #F9F4FD 99.88%);
    margin: 76px 180px 0px 180px;
    height: 631px;
    align-items: stretch;
    text-align: center;
    position: relative;
}

#booking nav {
    background-color: #96172C;
    height: 117px;
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

footer{
    height: 45vh;
}

table{
    margin-top: 144px;
    margin-left: 208px;
}

th{
    text-transform: uppercase;
    text-align: left;
    font-size: 25px;
    padding-right: 160px;
    padding-bottom: 34px;
    font-weight: 400;
}
td {
    padding-bottom: 10px;
    font-size: 20px;
}

#rules{
    margin-top: 140px;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

#polises, div.icons {
    margin-top: -40px;
}

footer #logo{
    position: absolute;
    left: 1650px;
}

#polises{
    text-align: right;
    margin-right: 212px;
}

div.icons{
    margin-left: 208px;
}
div.icons img{
    padding-right: 24px;
}

#question{
    background-image: url("../images/about/question.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    justify-content: flex-start;
}

.blur{
    background: #86868666;
    backdrop-filter: blur(40px);
}

#question div.screen {
    height: 100%;
    width: 50%;
}

#question h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-align: left;
    text-transform: uppercase;
    line-height: 80px;
    margin-left: auto;
    margin-right: auto;
}

ul { 
    list-style-type: none; 
    padding: 0;
    margin-bottom: 100px; 
    display: flex;
    align-items: flex-end;
 } 
li { 
    background-color: #f9f9f9;   
    width: 400px;
    height: 344px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.central-card > div:first-child , .card > div:first-child{
    height: 344px;
}

li.central-card{
    height: 785px;
}

li:first-child, li:nth-child(2){
    margin-right: 106px;
}

#card1{
    background-image: url("../images/cards/ten_island.png");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
}

#card2{
    background-image: url("../images/cards/stokgolm_metro.png");
}

#card3{
    background-image: url("../images/cards/carlson.png");
}

h3 { 
    font-size: 30px;
    font-weight: 400;
    line-height: 36.36px;
    text-align: left;
    text-decoration-line: underline;
    margin-left: 10px;
 } 
p { 
font-size: 20px;
font-weight: 400;
line-height: 23.66px;
text-align: left;
margin-left: 10px;
 } 

.card, .central-card{
    background-color: #555;
    height: 669px;
    width: 455px;
}

#cost{
    margin-left: 25px;
    width: 128px;
    height: 83px;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-left: 22px;
    border-width: 4px, 4px, 4px, 4px;
    border-style: solid;
    border-color: #AC7677;
    font-family: Kelly Slab;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-card > #cost {
    margin-bottom: 195px;
}

